<div class="row">
    <div class="col-md-12 text-center">
        <h3>Routes. <small><a href="https://angular.io/guide/router">docs</a></small> </h3>
        <p>Child routes. Structuring them and sending params from parents to childs. Open console to see params</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['new']">New</button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['edit']">Edit</button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['info']">Info</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>