<div class="container main-container">
    <h1>Angular tests</h1>
    <h5>An angular app to test some useful features from the framework</h5>
    <hr>

    <app-ng-style></app-ng-style>
    <hr>
    <app-css></app-css>
    <p>Hello world from app.component</p>
    <hr>
    <app-classes></app-classes>
    <hr>
    <h2>Directives <small><a href="https://angular.io/guide/attribute-directives">docs</a></small></h2>
    <p>To make our own directives </p>
    <p [appHighlighted]="'orange'">Hello I have a directive</p>
    <textarea rows="2" cols="70" disabled> 
        <p [appHighlighted]="'orange'">Hello I have a directive</p>
    </textarea>
</div>