<h2>NgClass <small><a href="https://angular.io/api/common/NgClass">docs</a></small></h2>
<p>Use it to apply a class or classes to elements using conditions or not</p>

<div [ngClass]="alert" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info mr-3" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>

<p [ngClass]="{'text-danger' : properties.danger, 'text-info': !properties.danger}">Hey I change with properties.danger</p>

<button (click)="properties.danger = !properties.danger" type="button" name="button" class="btn btn-danger" [ngClass]="{'btn-danger': properties.danger, 'btn-info': !properties.danger}">
Change</button><br><br>
<textarea rows="10" cols="70" disabled> 
  <div [ngClass]="alert" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info mr-3" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>

<p [ngClass]="{'text-danger' : properties.danger, 'text-info': !properties.danger}">Hey I change with properties.danger</p>

<button (click)="properties.danger = !properties.danger" type="button" name="button" class="btn btn-danger" [ngClass]="{'btn-danger': properties.danger, 'btn-info': !properties.danger}">
Change</button>

</textarea>
<hr>
<h2>Async process </h2>
<p>Demo of an Async process </p>

<button (click)="executeProcess()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
  <i [ngClass]="{'fa-save': !loading,'fa-refresh fa-spin':loading}" class="fas"></i>
  <span *ngIf="!loading"> Save changes</span>
  <span *ngIf="loading"> Wait please  </span>
</button><br><br>
<textarea rows="10" cols="70" disabled> 
<button (click)="executeProcess()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
  <i [ngClass]="{'fa-save': !loading,'fa-refresh fa-spin':loading}" class="fas"></i>
  <span *ngIf="!loading"> Save changes</span>
  <span *ngIf="loading"> Wait please  </span>
</button>

</textarea>